.loadingmodal 
{
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .1 ) 
                url('../../Images/Spinner.gif') 
                50% 50% 
                no-repeat;
}

body.loading 
{
    overflow: hidden;   
}

body.loading .loadingmodal 
{
    display: block;
}