<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <!--<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>-->
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <!--connection string-->
    <add key="ClientCode" value="ARG"/>
    <!--1 - true / 0 - false-->
    <!--image dimensions-->
    <add key="ImageWidth" value="800"/>
    <add key="ImageHeight" value="540"/>
    <add key="ThumbnailWidth" value="140"/>
    <add key="ThumbnailHeight" value="90"/>
    <!--logging-->
    <add key="WriteToEventLog" value="1"/>
    <add key="WriteToLog4netLogTest" value="0"/>
    <add key="WriteToErrorPage" value="0"/>
    <!--other-->
    <add key="RecordCountPerRow" value="5"/>
    <add key="CookieName" value="cookierptglry"/>
    <add key="DirectURL" value="http://www.assette.com/gallery"/>
    <!--cache-->
    <add key="CacheInHours" value="720"/>
    <add key="CacheInMinutes" value="0"/>
    <add key="CacheInSeconds" value="0"/>
    <!--delay time in milliseconds-->
    <add key="ReportObjectsDelayTime" value="2000"/>
    <add key="SamplesDelayTime" value="2000"/>
    <add key="TemplateDesignDelayTime" value="2000"/>
    <add key="PreviewDelayTime" value="2000"/>
    <add key="MyGalleryDelayTime" value="2000"/>
    <add key="MyGalleryGetNotesDelayTime" value="1000"/>
    <!--email settings-->
    <add key="SMTPServer" value="192.168.178.43"/>
    <add key="SendEmailOnClientRegistrationToClient" value="0"/>
    <add key="SendEmailOnClientRegistrationToAdmin" value="0"/>
    <add key="ClientRegistrationEmailFrom" value="assette@assette.com"/>
    <add key="ClientRegistrationEmailAdminTo" value="sameera.jayalath@assette.com"/>
    <add key="ClientRegistrationEmailSubject" value="Assette Client Registration"/>
    <add key="ClientRegistrationEmailIsBodyHTML" value="1"/>
    <add key="ClientRegistrationEmailTemplateToClient" value="ClientRegistrationEmailTemplateToClient.html"/>
    <add key="ClientRegistrationEmailTemplateToAdmin" value="ClientRegistrationEmailTemplateToAdmin.html"/>
    <add key="EmailImageEmbed" value="AssetteLogo.png,InviteToGallery.jpg,AddedRemoveFromGallery.png"/>
    <!--hubspot settings-->
    <add key="HubSpotPortalId" value="279299"/>
    <add key="HubSpotApiKey" value="08d305cd-b66b-4c0d-bf08-5c47b78c41c0"/>
    <add key="HubSpotFormGuid" value="48eecfdb-53c1-49e6-ac9d-d35261c11ab6"/>
  </appSettings>
  <system.web>
    <trace enabled="true"/>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.0" debug="true"/>
    <pages validateRequest="false"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151"/>
    <httpModules>
      <add name="AuthenticationModule" type="Assette.Web.ReportsGallery.HttpModules.AuthenticationModule"/>
    </httpModules>
    <httpHandlers>
      <add verb="POST" path="TemplateDesignUploadHandler.aspx" type="Assette.Web.ReportsGallery.Admin.TemplateDesignUploadHandler"/>
      <add verb="POST" path="SampleReportUploadHandler.aspx" type="Assette.Web.ReportsGallery.Admin.SampleReportUploadHandler"/>
      <add verb="POST" path="SampleReportEditHandler.aspx" type="Assette.Web.ReportsGallery.Admin.SampleReportEditHandler"/>
      <add verb="POST" path="TemplateDesignEditHandler.aspx" type="Assette.Web.ReportsGallery.Admin.TemplateDesignEditHandler"/>
      <add verb="POST" path="MockupObjectUploadHandler.aspx" type="Assette.Web.ReportsGallery.Admin.MockupObjectUploadHandler"/>
      <add verb="*" path="FileDownloadHandler.aspx" type="Assette.Web.ReportsGallery.Admin.FileDownloadHandler"/>
    </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="Admin/login.aspx" timeout="2400" defaultUrl="Admin/default.aspx"/>
    </authentication>
    <membership defaultProvider="AssetteMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="AssetteMembershipProvider" type="Assette.Web.ReportsGallery.Admin.AssetteMembershipProvider" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" writeExceptionsToEventLog="true"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AssetteRoleProvider">
      <providers>
        <clear/>
        <add name="AssetteRoleProvider" type="Assette.Web.ReportsGallery.Admin.AssetteRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="RepGlryEntities" connectionString="metadata=res://*/Models.RepGlryDBModel.csdl|res://*/Models.RepGlryDBModel.ssdl|res://*/Models.RepGlryDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.180.41;initial catalog=DEVGALR;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="RepGlryEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DEVGALR;user id=sa;password=hammer;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>-->
</configuration>